<h1>Passengers List</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">FistName</th>
        <th scope="col">LastName</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Fligth Class</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >xxxxxxxxx</th>
        <td>xxxxxxxxxx</td>
        <td>Cameroon</td>
        <td>06000000000</td>
        <td>@gmail.com</td>
        <td>Fist</td>
        <td>X</td>
      </tr>
       
      
    </tbody>
       
  </table>
  <div class="btn1 mt-3 ">
    <a routerLink="/edit-passengers" class="btn edit-passengers ">Add passengers</a>
    <a routerLink="/add-passengers" class="btn add-passengers ml-4">Add Passengers To Fligth</a>
  </div>
  