 
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">Airline</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink=" /" class="nav-item nav-link active">Home</a>
            <a routerLink="passengers" class="nav-item nav-link">Passengers</a>
            <a routerLink="flights" class="nav-item nav-link">Flights</a>
            <a routerLink="aiplane" class="nav-item nav-link">Aiplane</a>
            <a routerLink="pilots" class="nav-item nav-link">Pilots</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a routerLink="login" class="nav-item nav-link">Login</a>
        </div>
    </div>
</nav>
 