<h1>Fliht List</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Origin</th>
        <th scope="col">Destinetion</th>
        <th scope="col">Date</th>
        <th scope="col">Price </th>
        <th scope="col">Number of seats</th>
        <th scope="col">Reserved Seats</th>
        <th scope="col">Plane Model</th>
        <th scope="col">Pilot Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>London</th>
        <td>Madrid</td>
        <td>Fri jan 01 07:34:33 WAT 2016</td>
        <td>1000 DH</td>
        <td>356</td>
        <td>0</td>
        <td>boeing</td>
        <td></td>
        <td>x</td>
        
      </tr>
       
      
    </tbody>
       
  </table>
  <div class="btn1 mt-3 ">
    <a routerLink="/add-fligths" class="btn edit-passengers ">Edit</a>
    <a routerLink="/edit-fligths" class="btn add-passengers ml-4">Add Fligth</a>
  </div>
   