<h1>Pilots List</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">FistName</th>
        <th scope="col">LastName</th>
        <th scope="col">License</th>
        <th scope="col">Pilot Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th ></th>
        <td></td>
        <td>23146sD</td>
        <td>Captain</td>
      </tr>
      <tr>
        <th ></th>
        <td>

        </td>
        <td>23146sD</td>
        <td>Officier</td>
      </tr>
      
    </tbody>
     
  </table>
  <div class="btn1 mt-3 ">
    <a routerLink="/edit-pilots" class="btn ">Edit-pilots</a>
    <a routerLink="/add-pilots" class="btn ml-2">Add</a>
  </div>
  